/*
imported fonts:
font-family: 'Michroma', sans-serif;
font-family: 'Exo', sans-serif; 100, 200, 400
font-family: 'Montserrat', sans-serif; 100, 200,300, 400
font-family: 'Raleway', sans-serif; 100, 200, 300, 400
font-family: 'Titillium Web', sans-serif; 200, 300, 400
*/

/*UNIVERSAL STYLES*/
html {
  position: relative;
  min-height: 100%;
}

a {
    text-decoration: none !important;
    transition: all .5s ease-out;
}

main {
    position: relative;
    top: 3rem;
    font-family: "Montserrat", sans-serif;
}

/*HEADER*/
.hero-image {
	height: auto;
    width: 100%;
    background-image: url("../images/jumbotron-mountains.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    /* background-position: center; */
    /* z-index: 1; */
    /* overflow-y: scroll; */
}

header {
    transition: all 1.5s ease-out;
    border-bottom: 4px solid rgba(255, 255, 255, 0.05);
    width: 100% !important;
    background: linear-gradient(to right, rgb(18, 30, 50), rgb(69,75,91));
    position: fixed;
    z-index: 2;
}

header:hover {
    /* box-shadow: 0px 3px  rgb(224, 195, 92); */
    border-bottom: 3px solid rgba(224, 195, 92, 0.55) !important;
}

.header {
    transition: all 1.5s ease-out;
}

.header:hover {
    box-shadow: 0px 3px  rgb(224, 195, 92);
}

.navbar {
    transition: all 1s ease-out;
    border-radius: 5px;
    width: 100% !important;
    margin: 0 !important;
}

.navbar-brand {
	font-family: 'Michroma', sans-serif;
    color: rgb(107, 110, 116) !important;
    transition: all .5s ease-in-out;
}

.navbar-brand:hover {
    color: rgba(224, 195, 92, 0.55) !important;
}

.navbar-collapse {
    z-index: 5;
}

.nav-item .nav-link {
	font-family: 'Exo', sans-serif;
    color: rgb(107, 110, 116) !important;
    transition: all .5s ease-in-out;
}

.nav-item .nav-link:hover {
    color: rgba(224, 195, 92, 0.55) !important;
}

.navbar-toggler {
    outline: none !important;
}

/*JUMBOTRON*/
.jumbotron {
	height: 58rem;
}

.jumbotron  h1 {
	font-family: 'Montserrat', sans-serif;
	font-weight: 100;
}

.jumbotron  p {
	font-family: 'Montserrat', sans-serif;
	font-weight: 200;
}

.jumbotron .btn {
	transition: all 1.5s ease-out;
    background-color: rgb(240, 200, 79);
}

.jumbotron .btn:focus,
.jumbotron .btn:hover
{
	background-color: rgb(240, 200, 79);
	color: rgba(247, 242, 194, 1.0);
	box-shadow: 0px 0px 2px 2px rgba(247, 242, 194, 0.9);
    border: 1px solid rgb(250, 200, 25);
    //rgba(254, 195, 19, 1.0)
}

.jumbotron h1 {
    height: 7rem;
}

.jumbotron .spacer {
    height: 12rem;
}

/*CAROUSEL*/
.carousel-inner img {
  margin: auto;
}

/*FORM*/
form {
    position: relative;
    top: 4rem;
}

/*ABOUT ME*/
.card {
    /* position: relative;
    top: 4rem; */
    margin-bottom: 8rem;
    margin-left: 2rem;
    /* TODO: center in screen? */
}

/*FOOTER*/
footer {
  margin: 0 !important;
  height: 6rem;
  background-color: rgb(14, 19, 37);
  color: rgb(107, 110, 116);
  font-family: Michroma, sans-serif;
  font-size: 1rem;
} 
  
footer>div {
    height: 100%;
} 
  
.copyright {
    font-size: .75rem;
}

.icon-links div:hover {
    cursor: pointer;
}

