body {
	font-family: "Raleway", sans-serif;
	background-color: #e6ebf4;
}

h1 {
	font-size: 2rem;
}

table, th, td {
	border: 1px solid grey;
	border-collapse: collapse;
}

.mobile {
	width: 25%;
	margin: 2rem;
}

.desktop {
	width: 45%;
	margin: 2rem;
}